*{
    margin: 0;
    padding: 0;
}

body{
    background: url(chocope.png);
    background-attachment: fixed;
    background-size: cover;
}
.formulario{
    width: 320px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    left: 650px;
    padding: 20px;
    top: 150px;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    backdrop-filter: blur(1px);
   
}

.formulario form input{
    margin: 10px 0px;
}

#submit{
    color: antiquewhite;
    background-color: #80BFFF;
    padding: 9px;
    border-radius: 10px;
    border: 1px solid #80BFFF;
    position: relative;
    left: 1px;
    width: 95px;
}
.formulario h1{
    color: #80BFFF;
    font-family: 'Arial Black';
}

#submit:hover{
    color: blueviolet;
}
