body{
    padding: 25px;
    background: rgb(226, 224, 224);
    
}

section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;


}

article{
    background: red;
    width: 200px;
    height: 50px;
    padding: 5px;
    margin: 20px;
}

.derecha{
    width: 200px;
    height: 100px;
    background: red;
    border-radius: 0px 0px 70px 0px;
}

.arriba{
    width: 200px;
    height: 100px;
    background: red;
    border-radius: 40px 0px 0px 0px;
}

.izquierda{
    width: 200px;
    height: 100px;
    background: red;
    border-radius: 40px 0px 0px 0px;
}

.ovalado{
    width: 200px;
    height: 100px;
    background: blue;
    border-radius: 30px 70px 30px 70px;
}

.todas{
    width: 200px;
    height: 100px;
    background: blue;
    border-radius: 20px 20px 20px 20px;
}

.circulo{
    width: 200px;
    height: 100px;
    background: blue;
    border-radius: 50%;
}